<a href="https://colab.research.google.com/github/anvitank/Study-of-Loops-in-Python/blob/main/loops_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Experiment 7
# Title: To study loops in Python
## 6 Feb 2026
## Anvi Singh Tank
## PRN: 25070123019
## ENTC A1

In [ ]:
# While Loop
# Used when the number of itertions is not known

In [ ]:
# Print i as long as i is less than 6:
i=0
while i<6:
  print(i)
  i+=1

0
1
2
3
4
5

In [ ]:
# Print number from 1 t n
n=int(input('enter a number'))
i=1
while i<=n:
  print(i)
  i+=1

enter a number8
1
2
3
4
5
6
7
8

In [ ]:
# factorial of a number
i=1
n=int(input('enter a number'))
fac=1
while i<=n:
  fac=fac*i
  i+=1
print(fac)

enter a number4
24

In [ ]:
#Fibonacci Series using while loop
a=0
b=1
n=int(input("Enter no. of iterations:"))
while n>0:
  c=a+b
  print(a)
  a=b
  b=c
  n-=1

Enter no. of iterations:7
0
1
1
2
3
5
8

In [ ]:
#Reverse a number
a=int(input('Enter a number:'))
rev=0

while a>0:
  dig= a%10
  rev=rev*10+dig
  a//=10

print('Reversed number=', rev)

Enter a number:123
Reversed number= 321

In [ ]:
#check  palidrome number
a=input('Enter Value:')
i,j=0, len(a)-1
palidrome=True
while i>j:
  if a[i]!=a[j]:
    palidrome=False
    break
  i+=1
  j-=1

if palidrome==True:
  print('Yes')
else:
  print('no')

Enter Value:1221
Yes

In [ ]:
#Count digits in a number
n=int(input('Enter a number'))
count=0
while n>0:
  count+=1
  n//=10
print(count)

Enter a number36478901
8

# Break statement

In [ ]:
#exit loop when i = 3
i=1
while i<6:
  print(i)
  if i==3:
    break
  i+=1

1
2
3

In [ ]:
# Search an element in a list
no=[2,4,6,8,0,12,14,16,18,20]
key=int(input('enter no. to search'))
i=0
while i<len(no):
  if no[i]==key:
    print('NO. FOUND AT',i)
    break
  i+=1

enter no. to search18
NO. FOUND AT 8

#Continue Statement

In [ ]:
i=0
while i<11:
  if i==5:
    i+=1
    continue
  print(i)
  i+=1

0
1
2
3
4
6
7
8
9
10

In [ ]:
i=1
while i<10:
  if i%2 ==0:
      i+=1
      continue
  print(i)
  i+=1

1
3
5
7
9

#For Loop

In [ ]:
for i in range(1,6):
  print(i)

1
2
3
4
5

In [ ]:
#For loop using break, continue and pass functions works same as that of while loop

In [ ]:
#Print even no. from 1 to 10 using range function
for i in range(2,11,2):
  print(i)

2
4
6
8
10

In [ ]:
#sum of first N numbers
n=int(input("Enter a No.:"))
sum=0
for i in range((n+1)):
  sum+=i
print("The sum is ",sum)

Enter a No.:5
The sum is  15

In [ ]:
#Nested Loop
for i in range(1,4):
  for j in range(1,4):
    print(i,j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

In [ ]:
#Print Matrix
A=[[1,2,3],
   [4,5,6],
   [7,8,9]]
for i in range(3):
  for j in range(3):
    print(A[i][j], end=" ")
  print()

1 2 3
4 5 6
7 8 9

In [ ]:
#Multiplication of Matrix (Most Important)
A=[[1,2,3],[1,2,1],[7,4]]
B=[[0,1,2],[2,3,8],[4,5,7]]
Result=[[0,0,0],[0,0,0],[0,0,0]]

num_col=len(A[0])
num_rows=len(B)

if num_col==num_rows:
  for i in range(3):
    for j in range(3):
      for k in range(3):
        Result[i][j] += A[i][k] * B[k][j]
  print('Product:')
  for row in Result:
    print(row)
else:
  print('Matrices cant be multiplied')

Matrices cant be multiplied

In [ ]:
#Accept 3 digit number and print all possible combination
N=input('Enter 3 digit number:')
a=int(N[0])
b=int(N[1])
c=int(N[2])
d=[a,b,c]

for i in range(0,3):
  for j in range(0,3):
    for k in range(0,3):
      if (d[i]!=d[j] and d[j]!=d[k] and d[k]!=d[i]):
        print(d[i],d[j],d[k])

Enter 3 digit number:278
2 7 8
2 8 7
7 2 8
7 8 2
8 2 7
8 7 2

In [ ]:
#Armstrong Number
N=input('Enter a number: ')
total=0

for i in N:
  total+= int(i)**len(N)

if total==int(N):
  print(N," is an Armstrong Number")
else:
  print(N," is not an Armstrong Number")

Enter a number: 153
153  is an Armstrong Number

In [ ]:
N=int(input('Enter a number: '))
for i in range(N):
  print(i*' ',(N-i)*(' *'))

Enter a number: 5
  * * * * *
   * * * *
    * * *
     * *
      *

In [ ]:
N=int(input('Enter a number: '))
for i in range(N):
  print((N-i)*' ',(i+1)*(' *'))

Enter a number: 5
       *
      * *
     * * *
    * * * *
   * * * * *

In [1]:
#Floyd's Series
n=int(input('Enter a number of rows of floyd series to be printed: '))
num=1
for i in range(1,n+1):
  for j in range(1,i+1):
    print(num, end=' ')
    num+=1
  print()

Enter a number of rows of floyd series to be printed: 5
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15